body {
  background-color: #808e5b;
  color: white;
  padding-left: 240px;
  padding-right: 240px;
}

footer {
  float: right;
}

header {
  align-self: center;
  font-size: 40px;
}

.black {
  color: black;
}

.read-more {
  color: black;
  text-decoration: underline;
}

.red {
  color: red;
}

nav {
  padding-bottom: 20px
}

hr {
  width: 950px;

}

nav a {
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  float: right;
  text-decoration: none;
}

nav a:hover {
  color: #ddd;
}

.end {
  width: 100%;

}

.image {
  float: left;
  width: 50%;
}

.img-size {
  height: 670px;
}

.text-right {
  float: right;
  width: 45%;
}

.text-left {
  float: left;
  width: 45%;
}
